:root {
--color-fondo: #20202e;
--color-fondo-nav: #1b1b4d54;
--color-date: #bd7878;
--h1-line-h2: #0ffff0;
--color-enlace: #0ffff0;
--codigo: #00ffcd;
--bloque-codigo: #333;
--texto-pie-pagina: #fff;
--resaltar-pie-pagina: #ff0;
--accent-bg: #666666;
--texto: #a7a7dd;
--texto-nav-superior: #dcdcdc;
--borde: #666;
--mouse-encima: #00ff00;
--preformatted: #ccc;
--disabled: #111;
}

html { scroll-behavior: smooth; }
body { background-color:var(--color-fondo); color:var(--texto); display: grid; grid-template-columns: 1fr min(54rem, 90%) 1fr; margin: 0; }
body > * { grid-column: 2; }

#preamble {width:100%; justify-content:center; align-items:center; background-color:var(--color-fondo-nav); border-radius:3px; }
#content {max-width:960px; margin:auto; padding-top:30px; padding-bottom:30px; max-width:860px; line-height:1.5; padding:20px; margin:auto;}
#postamble {clear: left; background-color:var(--color-fondo-nav); display:block; border-radius:3px; text-align:center; }

.src {padding: 0.5em;}
.footer {margin: 60px 0 0; font-size: 1em; color: var(--texto-pie-pagina);}
.footer code {color: var(--resaltar-pie-pagina);}
/* .footer a {color: var(--resaltar-pie-pagina);} */
.footer > p {margin: 0; line-height: 1.5;}

.status > div {padding-top:40px; padding-bottom:30px;}
.taglist {margin-bottom:20px;}
.title {text-align: center;}
.post-date {margin-top:20px;font-size: 1.1em; text-align: right; font-family: Cantarell, Helvetica, Arial; font-weight: bold; color: var(--color-date);}
.post-title {margin-top:0;text-decoration: underline; font-family: Cantarell; text-align: center; }
.org-src-container {margin: 1.2em;}
.src {padding: 1em;  margin-left: 20px;  margin-right: 20px;}
.src-bash {}
.src-emacs-lisp {}
.outline-2 {}
.outline-3 {}
.outline-text-2 {}
.outline-text-3 {}

/* h2 {margin-top:3em; border-bottom:1px solid var(--h1-line-h2); padding-bottom:0.5em; font-size:1.75em;} */
h3 {margin-top:2em; font-size:1.5em;}
h4 {font-size:1.25em;}
h5 {font-size:1em;}
hr {margin:0;}

/* a {font-weight:inherit; line-height:inherit; color:var(--color-enlace);} */
code {font-family:FiraCode, Monaco, Consolas, "monospace"; font-size:0.8em; color:var(--codigo);}
p > code, li > code {padding:0.25em;}
header > nav {font-size: 1rem; line-height: 2; text-align: center;}
header > nav a, header > nav a:visited {border:1px solid var(--borde); border-radius:5px; color:var(--texto-nav-superior);
display:inline-block; padding:0.1rem 1rem; text-decoration:none;}
header > nav a:hover {color:var(--mouse-encima); border-color:var(--mouse-encima);}
header > nav a:last-child {margin-right:0;}
pre {font-family: FiraCode, Monaco, Consolas, monospace; font-size: 100%; border: 0; box-shadow: none; overflow: auto;}
pre {color: #EEE; background-color: var(--bloque-codigo); background-size: 8px 8px; border-radius: 3px; background-image: linear-gradient(135deg, transparent 25%, rgba(0, 0, 0, 0.02) 25%, rgba(0, 0, 0, 0.02) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0.02));}
